.contact-form{
    background-color: $first_color;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    @media (max-width: 991px){
        margin-top: 50px;
    }
    .custom-heading{
        padding-top: 100px;
        @include main-heading;
        margin-bottom: 100px;
        @media (max-width: 991px){
            padding-top: 30px;
        }
        h2{
            color: #fff;
            &::after, &::before{
                background-color: #fff;
            }
            @media (max-width: 400px){
                text-align: center;
            }
        }
        p{
            color: #fff;
			max-width: 900px;
			@media (max-width: 991px){
				padding: 0 20px;
			}
							
            @media (max-width: 400px){
                text-align: center;
            }
        }
    }
    .wpcf7{
        padding-bottom: 70px;
        @media (max-width: 991px){
            padding-bottom: 20px;
        }
        form{
            max-width: 800px;
            display: flex;
            flex-direction: column;
            margin: auto;
            @media (max-width: 991px){
                padding:0 35px;
            }
            input, textarea{
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 10px;
                margin-bottom: 30px;   
                outline: none;
                width: 100%;
                padding: 29px;
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                font-family: $fontFamily;
                @media (max-width: 991px){
                    padding: 18px 29px;
                    margin-bottom: 20px;
                }
                &::placeholder{
                    color: rgba($color: #fff, $alpha: 0.5);
                }
            }
            textarea{
                height: 150px;
            }
            .wpcf7-spinner{
                display: none;
            }
            .wpcf7-submit{
                background-color: #fff;
                color: $first_color;
                font-size: 18px;
                font-weight: 700;
                font-family: 'Roboto';
                text-align: center;
            }
        }
    }
}
.page-id-359{
    .contact-form{
        margin-bottom: 200px;
    }
}

.single-project {
    .contact-form{
        margin-bottom: 200px;
        .custom-heading{
            h2{
                color: #fff !important;
                &::after, &::before{
                    background-color: #fff;
                }
            }
            p{
                color: #fff !important;
            }
        }
    }
}